--extra-index-url https://download.pytorch.org/whl/cu121

gensim
icecream
matplotlib
nltk
numpy
pandas
scikit-learn
scipy<1.13.0
torch==2.2.1+cu121
torchaudio==2.2.1+cu121
torchvision==0.17.1+cu121
tqdm
transformers[torch]
